<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="3040203" android:versionName="3.4rel" package="com.ijinshan.mguard"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" />
    <uses-permission android:name="android.permission.PERMISSION_NAME" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS_SUPER" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.MOVE_PACKAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:theme="@style/FirewallSettingsStyle" android:label="@string/app_name" android:icon="@drawable/main_icon" android:name="com.keniu.security.MoSecurityApplication" android:allowClearUserData="false" android:debuggable="false">
        <activity android:theme="@style/MainTitleBarStyle" android:label="@string/app_name" android:name="com.keniu.security.main.MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/public_pref_title" android:name="com.keniu.security.main.SettingActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/main_menu_feedback" android:name="com.keniu.security.main.FeedbackActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/main_menu_suggestion_feedback_header" android:name="com.keniu.security.main.SuggestionFeedback" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name="com.keniu.security.main.SplashActivity" android:clearTaskOnLaunch="true" android:launchMode="singleTop" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.ijinshan.cleaner.MainCleanActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.ijinshan.bootmanager.activity.AutoBootMangerActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.keniu.security.malware.NotificationAdsCheckActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.ijinshan.bootmanager.activity.AutoBootHelpActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.ijinshan.cleaner.CacheCleanerActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.ijinshan.cleaner.SDcardCleanerActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.ijinshan.cleaner.HistoryCleanerActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Dialog" android:name="com.ijinshan.cleaner.MonitorUninstallActivity" android:launchMode="singleInstance" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:theme="@style/traffic_theme" android:name="com.keniu.security.traffic.TrafficFireWallMainActivity" />
        <activity android:theme="@style/traffic_theme" android:name="com.keniu.security.traffic.TrafficZiFeiSettingActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/traffic_theme" android:name="com.keniu.security.traffic.TrafficZiFeiSettingActivity2" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/traffic_theme" android:name="com.keniu.security.traffic.TrafficZiFeiSubSettingActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.keniu.security.rates.RatesRequestMainActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:name="com.keniu.security.traffic.TrafficZiFeiSubProviceSettingActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/traffic_theme" android:name="com.keniu.security.traffic.TrafficZiFeiSubProviceSettingActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/traffic_theme" android:name="com.keniu.security.traffic.TrafficZiFeiSubOperatorSettingActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/traffic_theme" android:name="com.keniu.security.traffic.TrafficZiFeiSubBrandSettingActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.traffic.TrafficSoftDetailActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/main_list_task_mgr" android:name="com.keniu.security.process.ProcessManagerActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/main_list_task_mgr" android:name="com.keniu.security.process.ProcessWhiteSettingActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/main_list_task_mgr" android:name="com.keniu.security.process.ProcessConfigActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/trojan_virus_module" android:name="com.keniu.security.malware.MalwareMainActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/trojan_virus_module" android:name="com.keniu.security.malware.MalwareActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/trojan_virus_module" android:name="com.keniu.security.malware.MalwareCloudScanIntrActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.keniu.security.malware.ScanResultListActivity" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.keniu.security.malware.MalwareUnknownListActivity" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.keniu.security.malware.MalwareScanRecordActivity" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@style/transparentStyle" android:name="com.keniu.security.malware.TransparentVircusAcitvity" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@style/traffic_theme" android:label="@string/main_list_traffic_monitor" android:name="com.keniu.security.traffic.TrafficTabActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/traffic_adjust_auto_calc_label" android:name="com.keniu.security.traffic.AdjustAutoCalcActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/traffic_theme" android:label="@string/kn_traffic_xuanfuchuang_activity" android:name="com.keniu.security.traffic.TrafficXuanFuChuangListActivity" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <activity android:theme="@style/traffic_theme" android:label="@string/kn_traffic_checked_user_model" android:name="com.keniu.security.traffic.TrafficAdjustByHandActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/traffic_theme" android:label="@string/traffic_month_limit_setting_title" android:name="com.keniu.security.traffic.TrafficMonthLimitSettingActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/traffic_theme" android:label="@string/traffic_month_used_setting_title" android:name="com.keniu.security.traffic.TrafficUsedSettingAcvitiy" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/traffic_theme" android:label="@string/traffic_adj" android:name="com.keniu.security.traffic.TrafficSmsShowActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:name="com.keniu.security.traffic.TrafficSoftListActivity2" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:label="@string/kn_traffic_item_info_tab_tab01" android:name="com.keniu.security.traffic.TrafficMainActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/main_list_private_space" android:name="com.jxphone.mosecurity.activity.friend.FriendActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/contact_setting_text" android:name="com.jxphone.mosecurity.activity.friend.FriendSettingActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.jxphone.mosecurity.activity.friend.FriendNameAndIconActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.jxphone.mosecurity.activity.friend.NotificationPreferenceActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.jxphone.mosecurity.activity.friend.PeopleCallLogActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.jxphone.mosecurity.activity.friend.PeopleSmsLogActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/main_list_private_space" android:name="com.jxphone.mosecurity.activity.friend.FriendTabActivity" android:launchMode="singleTop" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/contact_callLog_text" android:name="com.jxphone.mosecurity.activity.friend.FriendCallLogActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/contact_smsLog_text" android:name="com.jxphone.mosecurity.activity.friend.FriendSmsActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.ijinshan.kinghelper.firewall.FirewallSettingsBlockActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/commumgr_extra_call_title" android:name="com.keniu.security.commumgr.CallLocateSettingActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/kn_malware_item_info_tab_tab02" android:name="com.keniu.security.commumgr.FileWatcherSetting" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/firewall_onekey_call_title" android:name="com.keniu.security.commumgr.OnekeyCallSettingActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.commumgr.CallLocateLayoutActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/commumgr_location_query_title" android:name="com.keniu.security.commumgr.NumLocateQueryActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.commumgr.CommuMgrSettingActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/import_from_contact_text" android:name="com.keniu.security.importx.ImportfContactActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/import_from_calllog_text" android:name="com.keniu.security.importx.ImportfCalllogActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/firewall_settingsk_block_mode" android:name="com.ijinshan.kinghelper.firewall.FireWallSettingS2Activity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/traffic_save_traffic_model_setting_label" android:name="com.keniu.security.traffic.SaveTrafficModelSettingActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/traffic_save_traffic_white_list_label" android:name="com.keniu.security.traffic.SaveTrafficWhiteListActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/firewall_settingsk_block_mode" android:name="com.ijinshan.kinghelper.firewall.FireWallSettingS3Activity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/firewall_settingsk_block_mode" android:name="com.ijinshan.kinghelper.firewall.FireWallSettingsNight2Activity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/import_from_sms_text" android:name="com.keniu.security.importx.ImportfSmsActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/main_list_software_recommand" android:name="com.ijinshan.software.recommand.SoftwareRecommandTabActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/main_list_soft_mgr" android:name="com.keniu.security.software.SoftwareManagerTabActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:label="@string/main_list_soft_mgr" android:name="com.keniu.security.software.SoftwareManager" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:label="@string/main_list_soft_mgr" android:name="com.keniu.security.software.SoftwareManager2" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:label="@string/main_list_soft_mgr" android:name="com.keniu.security.software.APKManagerActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:label="@string/main_list_soft_mgr" android:name="com.ijinshan.software.recommand.NecessaryInstalledActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:label="@string/main_list_soft_mgr" android:name="com.ijinshan.software.recommand.HotTopActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@style/traffic_theme" android:label="@string/kn_traffis_monitor_settings_title" android:name="com.keniu.security.traffic.TrafficSettingActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:label="@string/kn_traffis_monitor_settings_title" android:name="com.keniu.security.traffic.TrafficSettingActivity2" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Dialog" android:name="com.keniu.security.traffic.TrafficWarningDialog" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Dialog" android:name="com.keniu.security.traffic.TrafficFixSmsOverTimeDialog" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Dialog" android:name="com.jxphone.mosecurity.logic.PhoneCallWarningDialog" />
        <activity android:theme="@*android:style/Theme.Dialog" android:name="com.jxphone.mosecurity.activity.IpDialDialogActivity" />
        <activity android:theme="@*android:style/Theme.Dialog" android:name="com.jxphone.mosecurity.activity.HideNumberDialogActivity" />
        <service android:name="com.ijinshan.software.recommand.FileDownloadService" />
        <service android:name="com.keniu.security.service.ProcessService" />
        <service android:name="com.keniu.security.service.ReportService" />
        <service android:name="com.keniu.security.service.RubbishSMSScanServiceCtrl" />
        <service android:name="com.keniu.security.service.MoSecurityService" />
        <receiver android:name="com.ijinshan.kinghelper.firewall.BroadcastRecSms">
            <intent-filter android:priority="2147483647">
                <action android:name="android.desksms.RECIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.keniu.security.process.ProcessWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/process_widget_provider" />
        </receiver>
        <receiver android:name="com.keniu.security.UserUnLockReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.jxphone.mosecurity.listener.OuttingCallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.keniu.security.service.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ijinshan.kinghelper.firewall.core.FirewallSmsTipDialog">
            <intent-filter>
                <action android:name="com.ijinshan.kinghelper.firewall.core.FirewallSmsTipDialog" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ijinshan.kinghelper.firewall.core.FirewallHideNumberTipDialog">
            <intent-filter>
                <action android:name="com.ijinshan.kinghelper.firewall.core.FirewallHideNumberTipDialog" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.jxphone.mosecurity.listener.FirewallCallTipDialog">
            <intent-filter>
                <action android:name="com.jxphone.mosecurity.listener.FirewallCallTipDialog" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.keniu.security.traffic.TrafficXuanFuChuangStateReceiver">
            <intent-filter>
                <action android:name="com.keniu.security.traffic.XUANFUCHUANG_STATE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="com.keniu.security.traffic.UPDATE_XUANFUCHUANG" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.ijinshan.cleaner.receiver.UninstallBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <activity android:theme="@*android:style/Theme.Black" android:name="com.ijinshan.kinghelper.firewall.FirewallSettingsActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/transparentStyle" android:name="com.ijinshan.kinghelper.firewall.FirewallDeskSMSActivityApiLevel4" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" android:windowSoftInputMode="adjustPan" />
        <activity android:theme="@style/transparentStyle" android:name="com.ijinshan.kinghelper.firewall.FirewallDeskSMSActivity" android:excludeFromRecents="true" android:launchMode="singleInstance" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" android:windowSoftInputMode="adjustPan" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/firewall_settingsk_block_mode" android:name="com.ijinshan.kinghelper.firewall.FirewallSettingsNightActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/activity_lable_firewall_keywords_setting" android:name="com.ijinshan.kinghelper.firewall.FirewallSettingsKeysActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/firewall_night_mode_editor_title" android:name="com.ijinshan.kinghelper.firewall.FirewallSettingTimeLanjie" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_black_list" android:name="com.ijinshan.kinghelper.firewall.UserWhiteBlackListActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_black_add" android:name="com.ijinshan.kinghelper.firewall.UserWhiteBlackAddActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_black_add" android:name="com.ijinshan.kinghelper.firewall.UserBlackAddByAreasActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_black_add" android:name="com.ijinshan.kinghelper.firewall.UserBlackAddByNumbersActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_black_tab" android:name="com.ijinshan.kinghelper.firewall.UserWhiteBlackTabActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_user_report" android:name="com.ijinshan.kinghelper.firewall.UserReportActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_firewall_sms_log_list" android:name="com.ijinshan.kinghelper.firewall.FirewallSmsLogListActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_firewall_call_log_list" android:name="com.ijinshan.kinghelper.firewall.FirewallCallLogListActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/activity_lable_firewall_log_tab" android:name="com.ijinshan.kinghelper.firewall.FirewallLogTabActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_firewall_log_detail" android:name="com.ijinshan.kinghelper.firewall.FirewallLogDetailActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_firewall_servies_sms" android:name="com.ijinshan.kinghelper.firewall.ServicesSmsListActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.ijinshan.kinghelper.firewall.ServiceSmsGroupActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_firewall_servies_sms_detail" android:name="com.ijinshan.kinghelper.firewall.ServicesSmsDetailActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_firewall_call" android:name="com.ijinshan.kinghelper.firewall.FirewallCallActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/activity_lable_firewall_sms" android:name="com.ijinshan.kinghelper.firewall.FirewallSmsActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/activity_lable_firewall_sms" android:name="com.ijinshan.kinghelper.firewall.FireWallSmsAndCallActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/activity_lable_firewall_sms" android:name="com.ijinshan.kinghelper.firewall.FirewallQuerySpActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|navigation|orientation" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/firewall_sms_backup_title" android:name="com.ijinshan.kinghelper.firewall.SmsBackupActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:label="@string/app_namex" android:name=".netstat.NetStatActivity" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/activity_lable_firewall_ip_dial" android:name="com.ijinshan.kinghelper.firewall.IpDialSettingsActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/activity_lable_firewall_desk_sms_setting" android:name="com.ijinshan.kinghelper.firewall.DeskSmsSettingsActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/activity_lable_firewall_ip_dial" android:name="com.ijinshan.kinghelper.firewall.IPDialTypeActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/activity_lable_firewall_ip_dial" android:name="com.ijinshan.kinghelper.firewall.IpProvinceCityActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/activity_lable_firewall_ip_dial" android:name="com.ijinshan.kinghelper.firewall.IpDialHeaderAddActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/activity_lable_firewall_ip_dial" android:name="com.ijinshan.kinghelper.firewall.IpDialSettingPopActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:label="@string/activity_lable_firewall_ip_dial_no_use_number" android:name="com.ijinshan.kinghelper.firewall.IpDialNoUseNumberListActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_firewall_common_service_query" android:name="com.ijinshan.kinghelper.firewall.FirewallCommonServiceQueryActivity" android:screenOrientation="portrait" />
        <receiver android:name="com.ijinshan.kinghelper.firewall.core.FakeSmsFirewallBroadcastReceiver">
            <intent-filter android:priority="10000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.sic" />
            </intent-filter>
        </receiver>
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_firewall" android:name="com.ijinshan.kinghelper.common.PickListActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/TitleBarStyle" android:label="@string/activity_lable_firewall_ip_dial_no_use_number" android:name="com.ijinshan.kinghelper.common.NumberPickListActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name="com.keniu.security.protection.ScreenLockService" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.protection.ui.PreventTheftGuideActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.protection.ui.PreventTheftGuideECActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.protection.ui.PreventTheftGuideCompleteActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/FirewallSettingsStyle" android:name="com.keniu.security.protection.ui.PreventTheftSettingActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.protection.ui.PreventTheftFirstVisitActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.protection.ui.PreventTheftHelpActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.protection.ui.PreventTheftExperienceInfoActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.protection.ui.PreventTheftCommandActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.protection.ui.PreventTheftMainActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/protection_title_white_list" android:name="com.keniu.security.protection.ui.PreventTheftWhiteListActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:label="@string/protection_title_white_add" android:name="com.keniu.security.protection.ui.PreventTheftWhiteAddActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan" />
        <receiver android:name="com.keniu.security.protection.SmsSentBroadcastReceiver">
            <intent-filter>
                <action android:name="com.keniu.security.protection.SmsSentBroadcastReceiver" />
                <action android:name="com.keniu.security.protection.SmsSentBroadcastReceiver.result" />
            </intent-filter>
        </receiver>
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.sync.ui.SyncMainActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.sync.ui.SyncBackupActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.sync.ui.SyncRestoreActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.sync.ui.SyncHistoryActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.sync.ui.SyncAccountActivity" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.sync.ui.LoginAct" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.sync.ui.RegisterAct" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.sync.ui.AccountMgrAct" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.sync.ui.WebViewAct" android:screenOrientation="portrait" />
        <activity android:theme="@style/AliDialog" android:name="com.keniu.security.sync.ui.DialogAct" android:launchMode="singleInstance" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.sync.ui.SyncRestoreHistoryAct" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.sync.ui.SyncRecordsAct" android:screenOrientation="portrait" />
        <activity android:theme="@style/TitleBarStyle" android:name="com.keniu.security.sync.ui.SyncLocalAct" android:screenOrientation="portrait" />
    </application>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
</manifest>