<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="4675" android:versionName="2.0.4675" package="com.avast.android.mobilesecurity"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DUMP" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <permission android:name="com.dolphin.browser.permission.ACCESS_PROVIDER" android:protectionLevel="normal" />
    <uses-permission android:name="com.dolphin.browser.permission.ACCESS_PROVIDER" />
    <permission android:name="com.avast.android.generic.CENTRAL_SERVICE_PERMISSION" android:protectionLevel="signature" />
    <uses-permission android:name="com.avast.android.generic.CENTRAL_SERVICE_PERMISSION" />
    <permission android:name="com.avast.android.generic.COMM_PERMISSION" android:protectionLevel="signature" />
    <uses-permission android:name="com.avast.android.generic.COMM_PERMISSION" />
    <permission android:name="com.avast.android.mobilesecurity.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.avast.android.mobilesecurity.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" android:xlargeScreens="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application android:theme="@style/Theme.Avast.MobileSecurity" android:label="@string/app_name" android:icon="@drawable/ic_app" android:name="com.avast.android.mobilesecurity.Application" android:allowBackup="true" android:logo="@drawable/logo">
        <activity android:theme="@style/Theme.Avast.Transparent" android:name=".app.home.StartActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Avast.Home" android:name=".app.home.HomeActivity" android:exported="true" android:launchMode="singleTop" />
        <activity android:name="com.avast.android.generic.notification.AvastNotificationActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.avast.android.mobilesecurity.notification" />
            </intent-filter>
        </activity>
        <activity android:label="@string/settings" android:name=".app.settings.SettingsActivity" android:launchMode="singleTop" />
        <activity android:label="@string/settings" android:name=".app.settings.SettingsUpdatesActivity" android:launchMode="singleTop" />
        <activity android:label="@string/settings" android:name=".app.settings.SettingsAccountActivity" android:launchMode="singleTop" />
        <activity android:label="@string/menu_about" android:name="com.avast.android.generic.app.about.AboutActivity" android:launchMode="singleTop" />
        <activity android:label="@string/l_feedback_title" android:name="com.avast.android.generic.app.about.FeedbackActivity" android:launchMode="singleTop" />
        <activity android:label="@string/webshield" android:name=".app.webshield.WebshieldSettingsActivity" android:launchMode="singleTop" />
        <activity android:label="@string/shieldcontrol" android:name=".app.shieldcontrol.ShieldControlActivity" android:launchMode="singleTop" />
        <activity android:label="@string/l_shieldcontrol_messageshield" android:name=".app.shieldcontrol.MessageShieldActivity" android:launchMode="singleTop" />
        <activity android:label="@string/l_shieldcontrol_appshield" android:name=".app.shieldcontrol.AppShieldActivity" android:launchMode="singleTop" />
        <activity android:label="@string/l_shieldcontrol_fileshield" android:name=".app.shieldcontrol.FileShieldActivity" android:launchMode="singleTop" />
        <service android:name=".service.UpdateService" android:exported="false" />
        <service android:name=".app.account.AccountReportService" android:exported="false" />
        <service android:name=".app.trafficinfo.NetworkStatsService" android:permission="com.avast.android.generic.CENTRAL_SERVICE_PERMISSION" android:exported="true" />
        <receiver android:name=".receiver.ConnectivityChangeReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NetworkInfoReceiver">
            <intent-filter>
                <action android:name="com.avast.android.mobilesecurity.action.NETWORK_STATS_POLL" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SERVICE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <activity android:theme="@style/Theme.Avast.MobileSecurity.TabletOnlyDialog" android:label="@string/l_eula" android:name=".app.wizard.EulaWizardActivity" android:exported="false" android:launchMode="singleTop" />
        <activity android:theme="@style/Theme.Avast.MobileSecurity.TabletOnlyDialog" android:name=".app.wizard.AntiTheftOfferActivity" android:exported="false" />
        <activity android:theme="@style/Theme.Avast.MobileSecurity.TabletOnlyDialog" android:name="com.avast.android.generic.app.wizard.WizardAccountActivity" android:exported="false" />
        <activity android:label="@string/l_scan_wizard" android:name=".app.wizard.ScanWizardActivity" android:exported="false" android:launchMode="singleTop" />
        <activity android:label="@string/virus_scanner" android:name=".app.scanner.ScannerActivity" />
        <activity android:label="@string/virus_scanner" android:name=".scan.ScanActivity" android:launchMode="singleTop" />
        <activity android:label="@string/virus_scanner" android:name=".app.scanner.ScannerScanActivity" android:launchMode="singleTop" />
        <activity android:label="@string/virus_scanner" android:name=".app.scanner.ScannerLogActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.avast.android.mobilesecurity.result" />
            </intent-filter>
        </activity>
        <activity android:label="@string/report_false_positive" android:name=".app.scanner.ReportDialogActivity" android:launchMode="singleTop" />
        <activity android:theme="@style/Theme.Avast.MobileSecurity.Translucent" android:name=".app.scanner.VirusShieldActivity" android:taskAffinity="" android:excludeFromRecents="true" android:launchMode="singleTop" />
        <activity android:theme="@style/Theme.Avast.MobileSecurity.Translucent" android:name=".app.messageshield.MessageShieldActivity" android:taskAffinity="" android:excludeFromRecents="true" android:launchMode="singleInstance" />
        <service android:name=".app.messageshield.MessageScannerService" android:exported="false" />
        <service android:name=".app.scanner.ReportService" />
        <activity android:theme="@style/Theme.Avast.Dialog" android:name=".app.scanner.DeleteFileActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DELETE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity android:name=".app.advisor.AdvisorAppsActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.avast.android.mobilesecurity.advisorApp" />
            </intent-filter>
        </activity>
        <activity android:name=".app.advisor.AdvisorPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.avast.android.mobilesecurity.advisorGroup" />
            </intent-filter>
        </activity>
        <activity android:name=".app.filter.FilterGroupsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.avast.android.mobilesecurity.filterGroup" />
            </intent-filter>
        </activity>
        <activity android:name=".app.firewall.CustomRulesActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.avast.android.mobilesecurity.customRule" />
            </intent-filter>
        </activity>
        <activity android:name=".app.filter.FilterGroupDetailActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.avast.android.mobilesecurity.filterGroup" />
            </intent-filter>
        </activity>
        <activity android:name=".app.firewall.CustomRuleDetailActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.avast.android.mobilesecurity.customRule" />
            </intent-filter>
        </activity>
        <activity android:name=".app.filter.FilterContactsActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.avast.android.mobilesecurity.filterContact" />
            </intent-filter>
        </activity>
        <activity android:name=".app.filter.FilterSmsPickerActivity" />
        <activity android:name=".app.filter.FilterCallLogPickerActivity" />
        <activity android:name=".app.filter.FilterLogsActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.avast.android.mobilesecurity.filterLog" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Avast.MobileSecurity.Translucent" android:name=".app.filter.SmsBlockOfferActivity" android:taskAffinity="" android:excludeFromRecents="true" android:launchMode="singleInstance" />
        <activity android:theme="@style/Theme.Avast.MobileSecurity.Translucent" android:name=".app.filter.TelBlockOfferActivity" android:taskAffinity="" android:excludeFromRecents="true" android:launchMode="singleInstance">
            <intent-filter android:label="@string/l_tel_block_offer">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/Theme.Avast.MobileSecurity.Translucent" android:name=".app.campaign.CampaignWindowActivity" android:taskAffinity="" android:excludeFromRecents="true" android:launchMode="singleInstance" />
        <receiver android:name=".app.filter.core.MessageReceiver">
            <intent-filter android:priority="2147483646">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter android:priority="2147483646">
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver android:name=".app.filter.core.PhoneStateChangeReceiver">
            <intent-filter android:priority="2147483645">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".app.filter.core.OutgoingCallReceiver">
            <intent-filter android:priority="-1000">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <activity android:name=".app.manager.ManagerPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.avast.android.mobilesecurity.ManagerApp" />
            </intent-filter>
        </activity>
        <activity android:name=".app.manager.AppDetailActivity" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.avast.android.mobilesecurity.ManagerApp" />
            </intent-filter>
        </activity>
        <activity android:name=".app.firewall.FirewallActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.avast.android.mobilesecurity.Firewall" />
            </intent-filter>
        </activity>
        <activity android:name=".app.trafficinfo.TrafficInfoPagerActivity" />
        <activity android:name=".app.trafficinfo.TrafficInfoSettingsActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".app.firewall.FirewallLogsActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".app.firewall.FirewallSettingsActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.Avast.MobileSecurity.FakeDialog" android:name=".app.locking.BlockAvastPasswordActivity" android:finishOnTaskLaunch="true" android:excludeFromRecents="true" android:launchMode="singleInstance" android:windowSoftInputMode="stateAlwaysHidden" android:noHistory="true" />
        <activity android:theme="@style/Theme.Avast.MobileSecurity.Transparent" android:name="com.avast.android.generic.ui.PasswordActivity" android:taskAffinity="" android:excludeFromRecents="true" />
        <activity android:label="@string/activity_filebrowser_label" android:name=".filebrowser.SystemFileBrowserActivity" android:exported="false" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="file/*" />
            </intent-filter>
        </activity>
        <service android:name=".app.locking.core.AppLockingService" android:exported="false" />
        <service android:name=".app.home.AppSetupIntentService" android:exported="false" />
        <service android:name=".app.advisor.AdvisorScanService" android:exported="false" />
        <service android:name=".app.scanner.ScannerScanService" android:exported="false" />
        <service android:name=".app.wizard.WizardScannerScanService" android:exported="false" />
        <service android:name=".app.scanner.OnDemandScannerScanService" android:exported="false" />
        <activity android:theme="@style/Theme.Avast.MobileSecurity.Translucent" android:name=".app.webshield.WebshieldActivity" android:finishOnTaskLaunch="true" android:excludeFromRecents="true" android:launchMode="singleInstance" android:windowSoftInputMode="stateAlwaysHidden" android:noHistory="true" />
        <activity android:theme="@style/Theme.Avast.MobileSecurity.Translucent" android:name=".app.webshield.SiteCorrectActivity" android:finishOnTaskLaunch="true" android:excludeFromRecents="true" android:launchMode="singleInstance" android:windowSoftInputMode="stateAlwaysHidden" android:noHistory="true" />
        <activity android:theme="@style/Theme.Avast.MobileSecurity.TabletOnlyDialog" android:name="com.avast.android.antitheft_setup_components.app.home.SetupCheckWizardActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.avast.android.antitheft_setup_components.app.home.InstallationModeActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.avast.android.mobilesecurity.app.backup.BackupAdvertisingActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.avast.android.antitheft_setup_components.app.home.RootWizardActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.avast.android.antitheft_setup_components.app.home.RootMethodWizardActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.avast.android.antitheft_setup_components.app.home.DownloadWizardActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.avast.android.antitheft_setup_components.app.home.ChooseNameWizardActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.avast.android.antitheft_setup_components.app.home.InstallationFinishedWizardActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".app.home.antitheft.uninstaller.UninstallCheckActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".app.home.antitheft.uninstaller.RootMethodActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".app.home.antitheft.uninstaller.RootFinishedActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:theme="@style/Theme.Avast.MobileSecurity.TabletOnlyDialog" android:name="com.avast.android.generic.app.account.ConnectionCheckActivity" android:exported="false" android:configChanges="keyboardHidden|orientation|screenSize" />
        <service android:name=".app.webshield.WebshieldService" android:exported="false" />
        <service android:name="com.avast.android.mobilesecurity.app.fileshield.FileShieldService" android:exported="false" />
        <provider android:label="@string/app_name" android:name="com.avast.android.mobilesecurity.Provider" android:exported="false" android:authorities="com.avast.android.mobilesecurity" />
        <receiver android:name=".receiver.AppUninstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name=".receiver.AppUninstallService" android:exported="false" />
        <service android:name=".app.firewall.core.FirewallHandlingService" android:exported="false" />
        <service android:name=".receiver.AppInstallService" android:exported="false" />
        <receiver android:name=".receiver.AppInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name=".receiver.BootCompletedService" android:exported="false" />
        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".app.scanner.AlarmReceiver" />
        <receiver android:name=".receiver.ServiceStateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SERVICE_STATE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.analytics.tracking.android.AnalyticsReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ExternalPowerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:label="@string/widget_title" android:name=".app.widget.WidgetControlProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.avast.android.mobilesecurity.action.TOGGLE_FIREWALL" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_control" />
        </receiver>
        <activity android:theme="@style/Theme.Avast.Dialog.Widget" android:name=".app.widget.WidgetControlBigActivity" android:taskAffinity="" android:excludeFromRecents="true" android:launchMode="singleInstance" />
        <service android:label="@string/app_name" android:name=".service.CentralService" android:permission="com.avast.android.generic.CENTRAL_SERVICE_PERMISSION" android:enabled="true" android:exported="true" />
        <receiver android:name="com.avast.android.generic.service.C2DMListener" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.avast.android.mobilesecurity" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.avast.android.mobilesecurity" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.avast.android.generic.service.C2DMHandler" android:permission="com.avast.android.generic.COMM_PERMISSION">
            <intent-filter android:priority="2147483646">
                <action android:name="com.avast.android.generic.action.C2DM_ENABLE_SUITE" />
            </intent-filter>
            <intent-filter android:priority="2147483646">
                <action android:name="com.avast.android.generic.action.C2DM_DISABLE_SUITE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.avast.android.generic.service.SettingChangeListener" android:permission="com.avast.android.generic.COMM_PERMISSION">
            <intent-filter android:priority="2147483646">
                <action android:name="com.avast.android.generic.action.PROPERTY_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.avast.android.generic.service.SuiteMessageListener" android:permission="com.avast.android.generic.COMM_PERMISSION">
            <intent-filter android:priority="2147483646">
                <action android:name="com.avast.android.generic.action.MESSAGE_TO_SUITE" />
            </intent-filter>
            <intent-filter android:priority="2147483646">
                <action android:name="com.avast.android.mobilesecurity.app.account.ACCOUNT_CONNECTED" />
            </intent-filter>
            <intent-filter android:priority="2147483646">
                <action android:name="com.avast.android.mobilesecurity.app.account.ACCOUNT_DISCONNECTED" />
            </intent-filter>
            <intent-filter android:priority="2147483646">
                <action android:name="com.avast.android.generic.action.UPDATE_CHECK_SUITE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.avast.android.mobilesecurity.app.account.PUSH_ACCOUNT_COMMUNICATION" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.avast.android.generic.service.SMSListener">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.avast.android.generic.service.PackageListener">
            <intent-filter android:priority="2147483646">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter android:priority="2147483646">
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
            <intent-filter android:priority="2147483646">
                <action android:name="com.avast.android.generic.action.SHARE_SETTINGS" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.avast.android.generic.app.passwordrecovery.PasswordRecoveryReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="com.avast.android.generic.RECOVERY_SMS" />
                <action android:name="com.avast.android.generic.RECOVERY_TIME_TICK" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.avast.android.mobilesecurity.receiver.PasswordRecoveryStateLoggerReceiver">
            <intent-filter>
                <action android:name="com.avast.android.generic.app.passwordrecovery.ACTION_PASSWORD_RECOVERY_INITIATED" />
                <action android:name="com.avast.android.generic.app.passwordrecovery.ACTION_PASSWORD_RECOVERY_EXPIRED" />
            </intent-filter>
        </receiver>
        <activity android:label="@string/l_avast_account" android:name="com.avast.android.generic.app.account.AccountActivity" android:launchMode="singleTop" />
        <service android:label="@string/app_name" android:name="com.avast.android.generic.service.DummyService" android:permission="com.avast.android.generic.CENTRAL_SERVICE_PERMISSION" android:enabled="true" android:exported="true" />
    </application>
</manifest>