<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="174757" android:versionName="3.0.3" package="org.antivirus"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.SUBSCRIBED_FEEDS_WRITE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.sonyericsson.homescreen.permission.READ_SETTINGS" />
    <uses-permission android:name="com.sonyericsson.homescreen.permission.WRITE_SETTINGS" />
    <permission android:name="org.antivirus.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="org.antivirus.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="org.antivirus.permission.LG" android:protectionLevel="signature" />
    <application android:theme="@style/mytheme" android:label="@string/app_name" android:icon="@drawable/avg_icon" android:name=".AvApplication" android:enabled="true">
        <service android:name=".AVService" android:exported="false" />
        <service android:name=".apploader.AppLoaderService" android:exported="false" />
        <service android:name=".applocker.AppBlockService" android:exported="false" />
        <activity android:label="@string/app_name" android:icon="@drawable/avg_icon" android:name=".ui.main.AntivirusMainScreen" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="" android:name=".antitheft.LockScreen" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name=".license.qrreader.general.CaptureActivity" android:clearTaskOnLaunch="true" android:stateNotNeeded="true" android:screenOrientation="landscape" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:label="" android:name=".tuneup.BatterySaveSettingsActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".tuneup.BatteryStateActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".tuneup.DataPlanSettingsActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".tuneup.StorageActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".tuneup.TrafficMeterActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".ui.main.ActivationActivity" />
        <activity android:name=".ui.backup.apps.BackUpActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".ui.backup.apps.RestoreActivity" />
        <activity android:name=".ui.backup.apps.OverLayActivity" />
        <activity android:name=".ui.backup.apps.BackupRestoreTab" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name=".ui.versionUpdate.VersionUpdateDialog" android:taskAffinity="" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name=".ui.versionUpdate.VersionUpdateProgressDialog" android:taskAffinity="" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".ui.help.Help" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".ui.settings.LanguageSelector" />
        <activity android:label="" android:name=".ui.license.LicenseEnteringActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".ui.protection.FileScannerActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".ui.protection.ProtectionActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".ui.privacy.PrivacyActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".ui.performance.PerformanceActivity" android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity android:name=".ui.performance.TaskKiller" />
        <activity android:label="" android:name=".ui.antitheft.AntiTheftLockMessage" />
        <activity android:label="" android:name=".ui.antitheft.AntiTheftActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".ui.antitheft.AntiTheftSMSCommandsActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".ui.antitheft.AntitheftRegisterActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".ui.antitheft.StopShoutActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".applocker.AppBlockActivity" android:taskAffinity="" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".applocker.AppLockerActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".applocker.LockerBlockActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".applocker.PasswordConfirmation" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".wipe.BetterLocalWipe" />
        <activity android:label="" android:name=".wipe.WipeByApp" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".wipe.WipeSd" />
        <activity android:label="" android:name=".ui.urlFilter.UrlWarningActivity" android:taskAffinity="" android:excludeFromRecents="true" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="" android:name=".ui.scan.results.ScanResultsExpandable" android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".ui.scan.UnInstall" android:taskAffinity="" android:excludeFromRecents="true" />
        <activity android:name=".ui.scan.FileRemover" />
        <activity android:label="@string/before_install_activity_label" android:name=".ui.scan.ScanBeforeInstallActivity" android:enabled="false" android:excludeFromRecents="true" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
        </activity>
        <activity android:label="Configuration" android:name=".widget.activities.WidgetConfigurationActivity" android:exported="false" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:label="" android:name=".widget.activities.TorchActivity" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name=".ui.TransparentDummyActivity" android:configChanges="keyboardHidden|orientation" />
        <receiver android:name=".core.receivers.AlarmReceiver" />
        <receiver android:name=".core.receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".antitheft.IncomingSmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".core.receivers.PackageAddReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".core.receivers.PackageRemovedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ganalytics.AnalyticsReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".antitheft.C2DMReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="org.antivirus" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="org.antivirus" />
            </intent-filter>
        </receiver>
        <receiver android:name=".core.receivers.LG" android:permission="org.antivirus.permission.LG" android:exported="true">
            <intent-filter>
                <action android:name="org.antivirus.LG" />
            </intent-filter>
        </receiver>
        <receiver android:name=".tuneup.ShutDownReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>
        <receiver android:name=".tuneup.ConnectivityReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".apploader.AppLoaderAlarmReceiver">
            <intent-filter>
                <action android:name="com.droidsec.apploaderalarm" />
            </intent-filter>
        </receiver>
        <receiver android:label="AVG AntiVirus" android:name="org.antivirus.widget.AvWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
    </application>
</manifest>