<!DOCTYPE html>
<!--
        thymeleaf可以替换所有的html元素，在html中必须要引入它的约束和命名空间
    使用thymeleaf的语法必须要使用“th:“来接管html元素 ，比如 th:元素名

-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>首页</h1>
    <h3 th:text="'Hello, ' + ${name} + '!'"></h3>
    <!--也可以使用[[${name}]]再html标签内赋值-->
    <h3>在标签内赋值：hello , [[${name}]] ！</h3>
    <div th:text="'使用text : ' + ${msg1}"></div>
    <div th:utext="${msg2}"></div>

    <hr>
    <!--从players中取出数据，每个数据命名为p,再使用th:text为每个以值生成一个<h3>p</h3>-->
    <h3 th:each="p:${players}" th:text="${p}"></h3>
    <hr>
    <a href="page_upload.html" >文件上传页面</a>

</body>
</html>